*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


body{
    font-family: 'Open Sans', sans-serif;
    margin:0; 
    padding: 0;
    background:url(4.jpg);
}

.top-heading{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(83, 217, 139);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



.table-section{
    height: 650px;
}


table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #e9ebee;
    font-size: 17px;

}

table img{
    width: 250px;
    height: 250px;


}

thead th{
    position: sticky;
    background-color: #ffffff;
    color: #212121;
    font-size: 20px;
}

th,td{
    border-bottom: 1px solid #e9e7e7;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

tr{
    height: 60px;
}

