/* import google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    background: rgb(145, 198, 164);
    display: flex;
    font-family: 'Poppins';
    background: url(7.jpg) ;
    background-size: cover;
  }
  
  .area{
    margin:auto;
    width: 600px;
  }
  
  .area form{
    padding: 25px;
    background: rgb(237, 231, 231);
    border-radius: 15px;
    margin-top: 50px;
    border: 2px solid black;
  }
  
  .area form h1{
    text-align: center;
    margin-bottom: 65px;
    color: #000000;
  }
  
  .details label{
    font-size: 20px;
  }
  
  .area form .details-values{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
    margin: 12px 0px 20px 0px;
    padding: 0px 10px;
  }
  
  .area form .submit{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    background: rgb(47, 114, 68);
    font: 16px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(34, 34, 34);
    border-radius: 20px;
  }
  
  .area form .submit:hover{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    background: rgb(255, 255, 255);
    font: 16px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(34, 34, 34);
    border-radius: 20px;
  }
  