@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
}

body{
   background:url(4.jpg) no-repeat;
   background-size: cover;
   padding:20px;
}

.top-heading{
    text-align: center;
    color: rgb(0, 0, 0);
}

 img{
    width: 750px;
    height: 450px;
    border-radius: 10px;
}

.article{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 80%;
    padding: 50px;
    margin: 15px auto;
    border: none;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}